In [8]:
import pandas as pd

# Read data grom auto-mpg.csv

In [9]:
#Reading the data set
data = pd.read_csv("C:\\Users\\GPT-BANTWAL\\AI\\9.csv")
data

,mpg,Cylinder,Displacement,HP,Weight,Acceleration,Model Year,Origin,Car name
0,18,4,300,130,3504,12.0,70,1,Honda
1,15,8,325,165,3695,11.5,71,1,Nexon
2,18,8,318,160,3440,11.0,70,1,Ford
3,16,6,305,160,3450,12.0,75,1,Indica
4,17,8,307,150,3449,10.5,80,1,Swift

# Give the code to get all cars with 8 cylinders

In [10]:
cylinders = data[data['Cylinder'] ==8]
cylinders

,mpg,Cylinder,Displacement,HP,Weight,Acceleration,Model Year,Origin,Car name
1,15,8,325,165,3695,11.5,71,1,Nexon
2,18,8,318,160,3440,11.0,70,1,Ford
4,17,8,307,150,3449,10.5,80,1,Swift

# Get the number of cars manufactured in each year

In [11]:
year = data.groupby("Model Year").size()
year

Model Year
70    2
71    1
75    1
80    1
dtype: int64